/src/vtserver/vtserver_interface.pb.cc
/src/vtserver/vtserver_interface.pb.h
/src/vtserver/vtserver_interface.rpcz.cc
/src/vtserver/vtserver_interface.rpcz.h
/backup
/build
/doc
/install

CMakeLists.txt.user
*.[oa]
*~
